.wy-side-nav-search {
  background-color: #000;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  color: #333;
  font-weight: bold;
}

code, .rst-content tt, .rst-content code {
  font-size: 85%;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {
  
  .wy-nav-content {
    max-width: 1200px;
  }
  
  table.docutils {
    table-layout:fixed;
    width: 100%;
    word-wrap: break-word;
  }

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}
