.md-header {
	background-color: #150805;
}

.md-content {
    padding-bottom: 50px;
}

.md-content img {
    border: 1px solid #333;
}

.md-footer-logo {
    max-width: 75%;
    float: right;
}

.md-footer-logo img {
		height: 50px;
}

li.toc:first-child {
    display: none;
}
