.wy-side-nav-search {
  background-color: #000;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
  font-size: 95%;
}
.wy-menu span.caption-text {

  color: #71C5E6;

}

.wy-menu-vertical ul {
  margin-left: 15px;
  margin-bottom: 15px;
}

.wy-menu-vertical li span.toctree-expand {
  color: #d9d9d9;
}

.rst-content tt.literal, .rst-content tt.literal, .rst-content code.literal {
  color: #333;
  font-weight: bold;
}

code, .rst-content tt, .rst-content code {
  font-size: 85%;
}

.dataframe thead th {
  padding: 10px;
}

td {
  padding: 10px;
}

svg {
    width: 800px;
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

  .wy-nav-content {
  /*  max-width: 1200px; */
      max-width: 100%;
  }

  table.docutils {
    table-layout:fixed;
    width: 100%;
    /*word-wrap: break-word;*/
  }

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

@media screen and (max-width: 1262px) {

  table.docutils {
    table-layout: auto;
  }

  .wy-table-responsive {
    overflow-x: auto !important;
  }

}
